{% extends "base.html" %}
{%load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media position:fixed">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h3 class="account-heading"><small>Hey, {{ user.profile.name }}</small></h3>
              <p class="text-secondary">Your Score is {{ user.medinfo.score }}</p>
            </div>
        </div>
        <h3 class="h3">Medical Info</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Height:</b> {{user.medinfo.height}} cm</li>
            <li class="list-group-item"><b>Weight:</b> {{user.medinfo.weight}} kg</li>
            <li class="list-group-item"><b>Athlete: </b> {{user.medinfo.is_athlete}}</li>
            <li class="list-group-item"><b>Donor:</b> {{user.profile.donate}}</li>
            <li class="list-group-item"><b>Pulse Rate</b> Rate: {{user.medinfo.pulse}}</li>
            <li class="list-group-item"><b>BMI:</b> {{user.medinfo.bmi}}</li>
            <li class="list-group-item"><b>You are {{user.medinfo.bmi_grade}}</b></li>
            <li class="list-group-item"><b>WHR:</b> {{user.medinfo.whr}}</li>
            <li class="list-group-item"><b>Potential Risk:</b> {{user.medinfo.whr_grade}}</li>
            <li class="list-group-item"><b>Eye Sight:</b> {{user.medinfo.eye_sight}}</li>
          </ul>
          <div class="border-top pt-3">
              <small class="text-muted">
                  Do you want to update your medical data?
                  <a class="ml-1" href="{% url 'medicalinfo'%}">Update</a>
              </small>
          </div>
    </div>
{% endblock content %}